{:deps {
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        rum/rum {:mvn/version "0.12.11"}
        fipp/fipp {:mvn/version "0.6.24"}
        lonocloud/synthread {:mvn/version "1.0.4"}}

 :paths ["src"]

 :aliases {:shadow-cljs
           {:extra-deps {thheller/shadow-cljs {:mvn/version "2.19.8"}}
            :main-opts ["-m" "shadow.cljs.devtools.cli"]}}
 }
